* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
  margin-right: 0;
  color: white;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  color: white;
  font-family: "Barlow Condensed";
}

.nav-no {
  font-weight: bold;
}

.nav-item {
  padding: 30px 0;
}

.nav-item:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

.hamburger {
  margin-right: 20px;
  display: none;
  cursor: pointer;
}

.ham-line {
  background-color: white;
  height: 5px;
  width: 40px;
  margin: 15px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
}

header img {
  width: 40px;
  height: 40px;
}

.line {
  background-color: white;
  height: 1px;
  width: 500px;
  position: absolute;
  right: 650px;
  opacity: 0.3;
  z-index: 10;
}

section {
  margin: 40px 200px;
}

.pyd {
  font-family: "Barlow Condensed";
  font-size: x-large;
}

.p-info {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.moon {
  width: 350px;
}

.d-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 410px;
}

.p-names {
  display: flex;
  justify-content: flex-start;
  font-family: "Barlow Condensed";
}

.name {
  margin-right: 30px;
}

.planet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 80px;
  font-family: "Bellefair";
  padding: 30px 0;
}

.info {
  font-family: "Bellefair";
}

.dash {
  background-color: white;
  height: 1px;
  width: 410px;
  margin: 40px 0 5px;
  opacity: 0.3;
}

.j-details {
  display: flex;
  justify-content: space-between;
}

.j-title {
  font-family: "Barlow Condensed";
  padding: 10px 0;
}

.j-deets {
  font-family: "Bellefair";
  font-size: larger;
}

/* RESPONSIVENESS */

@media (min-width: 748px) and (max-width: 800px) {
  body {
    background-image: url(../assets/destination/background-destination-tablet.jpg);
    margin-top: 0;
  }

  header {
    align-items: flex-start;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .nav-bg {
    width: 400px;
    margin-top: 0;
  }

  .line {
    display: none;
  }
}

@media (max-width: 490px) {
  body {
    background-image: url(../assets/destination/background-destination-mobile.jpg);
    margin-left: 0;
    margin-right: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  header {
    margin-left: 10px;
  }

  .nav-item {
    font-size: larger;
    justify-content: flex-start;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .ham-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .ham-line:nth-child(1) {
    transform: translateY(20px) rotate(45deg);
  }

  .hamburger.active .ham-line:nth-child(3) {
    transform: translateY(-20px) rotate(-45deg);
  }

  .nav-bg {
    position: fixed;
    flex-direction: column;
    left: -100%;
    width: 350px;
    text-align: center;
  }

  .nav-bg.active {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 100px;
    height: 100%;
    left: 40px;
    top: 0;
    bottom: 0;
  }
}
