body {
  background-image: url(../assets/home/background-home-desktop.jpg);
  margin-right: 0;
  color: white;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.3);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  color: white;
  font-family: "Barlow Condensed";
}

.nav-no {
  font-weight: bold;
}

header img {
  width: 40px;
  height: 40px;
}

.sywt {
  font-family: "Barlow Condensed";
  font-size: xx-large;
}

.space {
  font-family: "Bellefair";
  font-size: 120px;
  padding: 20px 0;
}

.home-info {
  margin: 180px 150px 0;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 360px;
}

.space-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  line-height: 1.6;
}

.exp-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.explore {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  color: black;
  font-family: "Bellefair";
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}
