body {
  background-image: url(../assets/home/background-home-desktop.jpg);
  margin-right: 0;
  color: white;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 60px;
}

.nav-bg {
  background-color: rgba(255, 255, 255, 0.3);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  color: white;
  font-family: "Barlow Condensed";
}

.nav-no {
  font-weight: bold;
}

.nav-item {
  padding: 30px 0;
}

.nav-item:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
}

header img {
  width: 40px;
  height: 40px;
}

.line {
  background-color: white;
  height: 1px;
  width: 500px;
  position: absolute;
  right: 650px;
  opacity: 0.3;
}

.sywt {
  font-family: "Barlow Condensed";
  font-size: xx-large;
}

.space {
  font-family: "Bellefair";
  font-size: 120px;
  padding: 20px 0;
}

.home-info {
  margin: 180px 150px 0;
  display: flex;
  justify-content: space-between;
}

.info {
  width: 360px;
}

.space-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  line-height: 1.6;
}

.exp-btn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.explore {
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 100px;
  color: black;
  font-family: "Bellefair";
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* RESPONSIVENESS */

@media (min-width: 748px) and (max-width: 800px) {
  body {
    background-image: url(../assets/home/background-home-tablet.jpg);
    margin-top: 0;
  }

  header {
    align-items: flex-start;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .nav-bg {
    width: 400px;
    margin-top: 0;
  }

  .line {
    display: none;
  }

  .home-info {
    display: block;
    text-align: center;
    width: 450px;
    margin-top: 100px;
  }

  .info {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 450px;
  }

  .sywt {
    font-size: larger;
    text-align: center;
  }

  .space {
    font-size: 150px;
  }

  .exp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  body {
    background-image: url(../assets/home/background-home-mobile.jpg);
    margin-left: 0;
    margin-right: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .home-info {
    display: block;
    text-align: center;
    width: 390px;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  header {
    margin-left: 10px;
  }

  .nav-bg {
    flex-direction: column;
    height: 1400px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(5px);
  }

  .sywt {
    font-size: 25px;
    text-align: center;
  }

  .info {
    margin-right: 0;
    width: 390px;
    margin-bottom: 120px;
  }

  .space {
    font-size: 90px;
  }

  .space-txt {
    padding: 0 20px;
  }

  .exp-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0 40px;
  }
}
