body {
  background-image: url(../assets/home/background-home-desktop.jpg);
}

header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bg {
  background-color: #f2f2f2;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 700px;
  color: white;
  opacity: 0.2;
}

.logo {
  background-color: white;
  border-radius: 30px;
  color: white;
}
